.App {
  text-align: center;
}
div{
  box-sizing:border-box;
}
.list{
  padding-left: 20px;
  text-align:left;
  border-bottom: 1px solid grey;
}

.black-nav{
  display:flex;
  background:#000;
  width:100%;
  color:#fff;
  padding-left:20px;
  /* justify-content: center; */
}

.change{
  text-align:left;
  padding-top:20px;
  padding-left:20px;
}
